h1{
    text-align: center;
    font-size: 50px;
    margin-right: 5px;
    
}
#logo{
    max-height: 280px;
    max-width: 350px;
    position: absolute;
    top: -12%;
    left: 0%;
    padding: 10px;
}
.title{
    background-color: rgb(19, 168, 194);
    padding: 16px;
}
body{
background-attachment: fixed;
}